.blur {
    background-color: rgba(234, 53, 204, 0.8); 
    -webkit-backdrop-filter: saturate(120%) blur(5px); 
    backdrop-filter: saturate(120%) blur(5px);
}
.jacket {
    position: center;
    scale: 50%;
}